* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    
}

header .desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.mobile {
    display: none;
}

#logo h1{
    font-size: 26px;
}

.grey {
    color: gray;
}

#logo img {
    height: 100%;
    margin-left: 24px;
}

nav ul li{
    display: inline-block;
    margin-left: 16px;
}

nav ul li:last-child {
    margin-right: 24px;
}

#banner {
    display: flex;
    width: 100%;
    background-color:lightgray;
    align-items:center;
}

#image {
    padding: 32px 24px;
    width: 60%;
}

#image img {
    width: 100%;
}

#sign-up {
    color: rgb(54, 54, 54);
    padding-left: 24px;
    width: 30%;
    
}

#sign-up h1 {
    margin-bottom: 24px;
    text-align: left;
    
}

#sign-up p {
    margin-bottom: 24px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sign-up button{
    padding: 8px 0;
    width: 80%;
    background-color: dimgrey;
    color: white;
    border: none;
    
}

#information {
    display: flex;
    width: 100%;
}

#information .left {
    width: 60%;
    margin: 32px 24px;
    text-align:left;
}

#information .left img {
    width: 100%;
}

#information .left h1 {
    margin: 32px 0 24px 0;
}

#signature {
    margin: 32px 0;
}

#information .right {
    width: 40%;
    padding-top: 16px;
    border-left: 1px solid lightgray;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
}

.wrapper:hover{
    background-color: lightgray;
}

.wrapper img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.wrapper h3 {
    margin-bottom: 8px;
}

.wrapper p {
    margin-bottom: 8px;
}

#course {
    background-color:lightgray;
    width: 100%;
}

#course h1 {
    padding: 32px 0;
    max-width: 100%;
}

#course .container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#course .container div {
    width: 25%;
    background-color: whitesmoke;
    opacity: 0.8;
    text-align: left;
    margin-bottom: 32px;
}

.mid {
    margin: 0 32px 32px;
}

#course .container div img{
    width: 100%;
    height: auto;
}

#course .container div h3{
    margin-top: 16px;
    margin-left: 16px; 
}

#course .container div p{
    margin-top: 16px;
    margin-left: 16px; 
}

#course .container div p:last-of-type{
    margin-bottom: 24px;
}

#thesis {
    width: 100%;
    padding-top: 32px;
    border-bottom: 2px solid lightgray;
}

#thesis .container {
    width: 100%;
    display: flex;
}

#thesis .left {
    width: 60%;
    margin: 32px 24px;
    text-align:left;
}

#thesis .left h3 {
    margin: 24px 0 8px 0;
}

#thesis .left p {
    margin-bottom: 32px;
}

#thesis .right {
    margin-top: 16px;
    width: 40%;
    padding-top: 16px;
}

footer {
    display: flex;
    margin-bottom: 32px;
    padding: 16px 24px 0;
    justify-content: space-between;
}

footer ul li {
    display: inline-block;
    margin-left: 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}